.gameContainer {
  display: grid;
  height: 90dvh;
  grid-template-rows: 1fr 11fr;
}

.gameInfoContainer {
  align-content: center;
  min-width: 100%;
  min-height: 100%;
}

@media screen and (min-width: 576px) and (orientation: landscape) {
  .gameContainer {
  }

  .gameInfoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  .gameContainer {
    display: grid;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .gameContainer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 4fr 9fr;
  }

  .gameInfoContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
