.cardContainer {
  background-color: transparent;
  perspective: 1000px;
}

.cardContainer.four {
  aspect-ratio: 3/5;
  height: 32dvh;
  transform-style: preserve-3d;
}

.cardContainer.six {
  border-radius: 0.2em;
  font-size: 4vw;
  height: 24dvh;
  aspect-ratio: 3/5;
  transform-style: preserve-3d;
  border-width: 0.3em;
}

.cardInner {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  animation: cardAppear 1s; 
  width: 100%;
  height: 100%;
}

.cardFront {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 206, 45);
  border: rgb(87, 65, 11) double;
  box-shadow: inset -10px 10px 20px 6px rgb(255, 242, 199);
  border-radius: 0.5em;
  border-width: 0.3em;
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cardBack {
  border: rgb(229, 167, 12) double;
  border-radius: 0.5em;
  border-width: 0.3em;
  background-color: rgb(23, 16, 81);
  transform: rotateY(180deg);
}

.imageContainer{
  display: flex;
  border: double rgb(36, 53, 53) 0.3em;
  background-color: rgb(173, 215, 223);
  box-shadow: inset 0px 0px 10px 10px rgb(217, 249, 255);
  justify-content: center;
  align-items: center;
}

.imageContainer.four {
  width: 16dvh;
  height: 14dvh;
}

.imageContainer.six {
  width: 11dvh;
  height: 9dvh;
}

.cardContainer.nine {
  aspect-ratio: 3/5;
  height: 22dvh;
  transform-style: preserve-3d;
  border-radius: 0.2em;
  border-width: 0.em;
}

.imageContainer.nine {
  width: 10dvh;
  height: 9dvh;
}

.cardTitleContainer {
  background-color: rgb(252, 251, 205);
  width: 80%;
  border-radius: 0.1em;
  outline-width: 0.1em;
  outline-style: inset;
  outline-color: rgb(255, 255, 255);
  color: rgb(36, 53, 53);
  font-size: 2.2dvh;
  text-align: center;
  box-shadow: rgb(156, 108, 19) -2px 2px 5px 1px;
}
.cardImage {
  height: 80%;
  width: 80%;
}

@media screen and (min-width: 576px) and (orientation: landscape) {
  .cardTitleContainer {
    font-size: 3vh;
  }

  .fourCardContainer {
    height: 50dvh;
    border-width: 0.4em;
    border-radius: 0.3em;
  }

  .fourImageContainer {
    width: 22dvh;
    height: 20dvh;
    border-width: 0.2em;
  }

  .sixImageContainer {
    border-width: 0.1em;
    width: 18dvh;
    height: 16dvh;
  }

  .sixCardContainer {
    font-size: 5dvw;
    height: 38dvh;
    border-width: 0.1em;
    border-radius: 0.1em;
  }

  .nineCardContainer {
    height: 30dvh;
    border-width: 0.3em;
    border-radius: 0.2em;
  }

  .nineImageContainer {
    border-width: 0.2em;
    width: 14dvh;
    height: 12dvh;
  }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  .cardTitleContainer {
    font-size: 2.5dvh;
  }

  .fourCardContainer {
    height: 34dvh;
  }

  .fourImageContainer {
    width: 17dvh;
    height: 15dvh;
  }

  .sixImageContainer {
    width: 16dvh;
    height: 14dvh;
  }

  .sixCardContainer {
    font-size: 5dvw;
    height: 32dvh;
  }

  .nineCardContainer {
    height: 24dvh;
    width: 15dvh;
    border-width: 0.5em;
    border-radius: 0.3em;
  }

  .nineImageContainer {
    border-width: 0.4em;
    width: 12dvh;
    height: 10dvh;
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .fourCardContainer {
    height: 34dvh;
    border-radius: 0.5em;
  }

  .fourImageContainer {
    width: 16dvh;
    height: 14dvh;
  }

  .cardTitleContainer {
    font-size: 2dvh;
  }

  .sixCardContainer {
    border-radius: 0.1em;
    height: 32dvh;
    border-width: 0.15em;
  }

  .sixImageContainer {
    width: 15dvh;
    height: 13dvh;
  }

  .nineImageContainer {
    width: 14dvh;
    height: 11dvh;
    border-width: 0.3em;
  }

  .nineCardContainer {
    height: 26dvh;
    width: 17dvh;
    border-radius: 0.3em;
    border-width: 0.3em;
  }
}
/* 
@media (max-height: 767px) and (min-width: 1024px) {
  .fourCardContainer {
    height: 36dvh;
  }

  .fourImageContainer {
    width: 10dvw;
    height: 9dvw;
  }

  .cardTitleContainer {
    font-size: 1.5dvw;
  }

  .sixCardContainer {
    border-radius: 5%;
    height: 34dvh;
  }

  .sixImageContainer {
    width: 16dvh;
    height: 14dvh;
  }

  .nineCardContainer {
    border-radius: 5%;
    height: 24dvh;
  }

  .nineImageContainer {
    width: 75%;
    height: 45%;
  }
} */

@media screen and (min-width: 1200px) and (orientation: landscape) {
  .fourCardContainer {
    height: 38dvh;
    border-width: 0.5em;
  }

  .fourImageContainer {
    width: 18dvh;
    height: 17dvh;
    border-width: 0.4em;
  }

  .sixImageContainer {
    width: 16dvh;
    height: 14dvh;
  }

  .sixCardContainer {
    border-radius: 0.1em;
    font-size: 4dvw;
    height: 34dvh;
    border-width: 0.1em;
  }

  .nineImageContainer {
    width: 14dvh;
    height: 11dvh;
    border-width: 0.3em;
  }

  .nineCardContainer {
    height: 27dvh;
    width: 18dvh;
  }
}

@keyframes cardAppear {
  0% {
    transform: rotateY(180deg);
  }
  40% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
