.fourCardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em 0em 1em 0em;
  overflow: hidden;
}

.sixCardsContainer {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  padding: 1em;
  overflow: hidden;
}

.nineCardsContainer {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  padding: 0.5em;
  overflow: hidden;
}

@media screen and (min-width: 576px) and (orientation: landscape) {
  .fourCardsContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
  }

  .sixCardsContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
  }

  .nineCardsContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
    overflow: none;
  }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  .fourCardsContainer {
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 0.5em 0em 0.5em 0em;
    overflow: hidden;
  }

  .sixCardsContainer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .nineCardsContainer {
    padding: 1em;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .fourCardsContainer {
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2;
    grid-row: 1;
  }

  .sixCardsContainer {
    grid-column: 2;
    grid-row: 1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .nineCardsContainer {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .nineCardsContainer {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    padding: 1em;
    overflow: hidden;
  }

  .fourCardsContainer {
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2;
    grid-row: 1;
  }
}
