.leaderBoardPage {
  height: 100dvh;
  width: 100dvw;
  position: relative;
}

@media screen and (min-width: 567px) and (orientation: landscape) {
  .leaderBoardPage {
    height: 100dvh;
    width: 100dvw;
  }
}

@media screen and (min-width: 1024px) {
}
